﻿@model List<Sucursal>
@{
    ViewData["Title"] = "Listado de sucursales";
}

<div class="container  card card-body">
    <div class="row">
        <h3>Listado de Sucursales</h3>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Direccion</th>
                <th scope="col">Tipo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var su in Model)
            {
                <tr>
                    <td>@su.Nombre</td>
                    <td>@su.Direccion</td>
                    <td>@su.Tipo</td>
                </tr>
            }
        </tbody>
    </table>
</div>