﻿@model List<App.Models.Producto>
@{
    ViewData["Title"] = "Listado de productos";
}

<div class="container  card card-body">
    <div class="row">
        <h3>Listado de Productos</h3>
        <a href="@Url.Action("Add", "Productos")" class="btn btn-primary col-md-3">Agregar Producto</a>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Posicion</th>
                <th scope="col">Existencias</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                <tr>
                    <th sc ope="row">@producto.Numero</th>
                    <td>@producto.Nombre</td>
                    <td>@producto.Posicion</td>
                    <td>@producto.Existencia</td>
                    <td>
                        <a href="@Url.Action("Edit", "Productos")/?id=@producto.IdProducto" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("Delete", "Productos")/?id=@producto.IdProducto" class="btn btn-warning">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


