﻿@model List<App.Models.Posicion>
@{
    ViewData["Title"] = "Listado de posiciones";
}

<div class="container  card card-body">
    <div class="row">
        <h3>Listado de Posiciones</h3>
        <a href="@Url.Action("Add", "Posiciones")" class="btn btn-primary col-md-3">Agregar Posicion</a>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nivel</th>
                <th scope="col">Fondo</th>
                <th scope="col">Zona</th>
                <th scope="col">Rack</th>
                <th scope="col">Sucursal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var posicion in Model)
            {
                <tr>
                    <th sc ope="row">@posicion.Codigo</th>
                    <td>@posicion.Nivel</td>
                    <td>@posicion.Fondo</td>
                    <td>@posicion.Zona</td>
                    <td>@posicion.Rack</td>
                    <td>@posicion.Sucursal</td>
                </tr>
            }
        </tbody>
    </table>
</div>
