﻿@model List<Producto>
@{
    ViewData["Title"] = "Listado de productos";
}

<div class="container  card card-body">
    <div class="row">
        <h3>Traslado de productos entre sucursales</h3>
    </div>
    <hr />
    <table class="table">
        <thead>
            <tr>
                 <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Posicion</th>
                <th scope="col">Existencias</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in Model)
            {
                    <tr>
                        <th sc ope="row">@producto.Numero</th>
                        <td>@producto.Nombre</td>
                        <td>@producto.Posicion</td>
                        <td>@producto.Existencia</td>
                        <td>
                            <a href="@Url.Action("Traslada", "Traslado")/?id=@producto.IdProducto" class="btn btn-success">Trasladar</a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>