﻿@model Producto
@{
    ViewData["Title"] = "Cambia de lugar Producto";
}

<h3>Traslado del producto</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.Tipo) </dt>
        <dd> @Html.DisplayFor(model => model.Tipo) </dd>

        <dt> @Html.DisplayNameFor(model => model.Nombre) </dt>
        <dd> @Html.DisplayFor(model => model.Nombre) </dd>

        <dt> @Html.DisplayNameFor(model => model.Numero) </dt>
        <dd> @Html.DisplayFor(model => model.Numero) </dd>

        <dt> @Html.DisplayNameFor(model => model.Descripcion) </dt>
        <dd> @Html.DisplayFor(model => model.Descripcion) </dd>

        <dt> @Html.DisplayNameFor(model => model.Sku) </dt>
        <dd> @Html.DisplayFor(model => model.Sku) </dd>

        <dt> @Html.DisplayNameFor(model => model.Codigo) </dt>
        <dd> @Html.DisplayFor(model => model.Codigo) </dd>

        <dt> @Html.DisplayNameFor(model => model.CodigoFabricante) </dt>
        <dd> @Html.DisplayFor(model => model.CodigoFabricante) </dd>

        <dt> @Html.DisplayNameFor(model => model.Precio1) </dt>
        <dd> @Html.DisplayFor(model => model.Precio1) </dd>

        <dt> @Html.DisplayNameFor(model => model.Posicion) </dt>
        <dd> @Html.DisplayFor(model => model.Posicion) </dd>

        <dt> @Html.DisplayNameFor(model => model.Sucursal) </dt>
        <dd> @Html.DisplayFor(model => model.Sucursal) </dd>

        <dt> @Html.DisplayNameFor(model => model.Rack) </dt>
        <dd> @Html.DisplayFor(model => model.Rack) </dd>

        <dt> @Html.DisplayNameFor(model => model.Minimo) </dt>
        <dd> @Html.DisplayFor(model => model.Minimo) </dd>
    </dl>

    <h3>Mover a Sucursal</h3>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.IdMaestro)
        @Html.HiddenFor(model => model.IdProducto)
        @Html.HiddenFor(model => model.IdPosicion)
        @Html.HiddenFor(model => model.IdInventario)
        @Html.HiddenFor(model => model.IdRack)
        @Html.HiddenFor(model => model.IdSucursal)
        @Html.HiddenFor(model => model.Tipo)
        @Html.HiddenFor(model => model.Nombre)
        @Html.HiddenFor(model => model.Numero)
        @Html.HiddenFor(model => model.Descripcion)
        @Html.HiddenFor(model => model.Sku)
        @Html.HiddenFor(model => model.Codigo)
        @Html.HiddenFor(model => model.CodigoFabricante)
        @Html.HiddenFor(model => model.Precio1)
        @Html.HiddenFor(model => model.Posicion)
        @Html.HiddenFor(model => model.Sucursal)
        @Html.HiddenFor(model => model.Rack)
        @Html.HiddenFor(model => model.Minimo)
        @Html.HiddenFor(model => model.Unidad)
        @Html.HiddenFor(model => model.Unidades)
        @Html.HiddenFor(model => model.Precio)
        @Html.HiddenFor(model => model.Existencia)
        @Html.HiddenFor(model => model.Maximo)


        <div class="form-group">
            <label class="control-label col-md-2">Empresa</label>
            <div class="col">
                @Html.DropDownList("IdEmpresa", new SelectList(ViewBag.Empresas, "IdEmpresa", "Nombre"), "- Seleccione Empresa -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdEmpresa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Sucursal</label>
            <div class="col">
                @Html.DropDownList("IdSucursalNew", new SelectList(ViewBag.Sucursales, "IdSucursal", "Nombre"), "- Seleccione Sucursal -", new { @class = "form-control", @onchange = "searchRack()" })
                @Html.ValidationMessageFor(model => model.IdSucursalNew, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Rack</label>
            <div class="col">
                @Html.DropDownList("IdRackNew", new SelectList(ViewBag.Racks, "IdRack", "Posicion"), "- Seleccione Rack -", new { @class = "form-control", @onchange = "searchPosition()"})
                @Html.ValidationMessageFor(model => model.IdSucursalNew, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Posicion</label>
            <div class="col">
                @Html.DropDownList("IdPosicionNew", new SelectList(ViewBag.Posiciones, "IdPosicion", "Codigo"), "- Seleccione Posicion -", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdPosicionNew, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Mover" class="btn btn-success" /> |
            @Html.ActionLink("Regresar al listado", "Index")
        </div>
    }

</div>